services:
  app:
    image: dgarcia51/realtor:latest
    ports:
      - "4000:4000"
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
